<h3>Gracias por enviarnos sus datos</h3>
<div>
    <p>{{ name }} {{surname}}, sus datos de contacto han sido registrados en nuestro sistema correctamente.</p>
    <p>En breve uno de nuestros comerciales se pondrá en contacto con usted.</p>
    <p>Gracias</p>
</div>
